html {
  background-color: #edffea;
  background-color: darkgrey;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25vw;
}

.page {
  margin: 5% 5% 2% 5%;
  overflow-y: auto;
}

.gridContainer {
  display: grid;
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 175px;
  grid-gap: 15px;
}

.gridCard {
  display: grid;
  border-radius: 2%;
  background-color: white;
  xheight: 100%;
  grid-template-columns: repeat(10, 30px) repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  xposition: relative;
}

.photo {
  background-color: red;
  grid-row: 2 / 5;
  grid-column: 2 / 5;
}

.name {
  background-color: yellow;
  grid-row: 2 / 3;
  grid-column: 6 / 9;
}

.email {
  background-color: lime;
  grid-row: 3 / 4;
  grid-column: 6 / 10;
}

.location {
  background-color: purple;
  grid-row: 4 / 5;
  grid-column: 6 / 10;
}

